.search-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.search-buttons{
    display: flex;
    flex-direction: row;
    /* background-color: rgb(138, 102, 102); */
    border-radius: 5px;
}
.search-box-input{
    cursor: pointer;
    border-radius: 5px;
}